 .header {
          background-image: url(../images/backgrounds/landing.jpg);
          background-repeat: repeat;
          background-size: cover;
          height: vh;
          color: #fff;
}
.nav {
  display: none;
}

.col-md-4{
     margin-left: 35%;
     margin-right: 35%;
     height: vh;
     margin-bottom: 0;
}
#happyhour{
  background-color: #dcdcdc;
  height: 50%;
  margin: 0;
  padding: 0;
  border: 0;
}
#partytime {
  background-color: #F15A29;
  height: 50%;
  margin: 0;
  padding: 0;
  border: 0;

}
.row img{
  margin: 0;
  padding: 0;
  border: 0;
}
.party p{
  margin: 0;
  padding: 0;
  border: 0;
}
.col-md-6{
       margin: 0;
       padding: 0;
}
.col-md-6 img{
  border-left: solid 20px;
  border-right: solid 20px;

}
#drinks{
  border-top: solid 20px 	#DCDCDC;
  border-bottom: solid 20px 	#DCDCDC;
  border-left: 0;
  border-right: 0;
}

.nav-item{
          color: #F15A29;
          border: solid 2px #F15A29;
          padding: 7px;
          margin: 20px;
}
.gallery {
  background-image: url(../images/backgrounds/foodsBg.jpg);
  background-repeat: repeat;
  background-size: cover;
  height: vh;
}


}
.email {
        background-image: url(../images/backgrounds/subscribe.jpg);
        background-repeat: repeat;
        background-size: cover;
        height: vh;
}
.email h3 {
  color: #fff;
}
button {
  background-color: #F15A29;
}
.footer {
  background-color:  #F15A29;
}
